<!--
  Generated template for the QuizPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Seleção de Categorias</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <p class="indication">
    Selecione as categorias por ordem de importância!
    <button ion-button clear icon-only (click)="info()" class="btn-info">
      <ion-icon name="md-information-circle"></ion-icon>
    </button>
  </p>

  <p>
    <button ion-button round *ngIf="choices.length > 0 && choices.length < until" icon-start (click)="back()">
      <ion-icon name="ios-arrow-dropleft-outline"></ion-icon>
      Voltar
    </button>
  </p>
  <p>
    <button ion-button round *ngIf="choices.length >= until" icon-start (click)="back()">
      <ion-icon name="ios-arrow-dropleft-outline"></ion-icon>
    </button>
    <button ion-button round (click)="calculatePreference()" *ngIf="choices.length >= until">Calcular preferência</button>
  </p>

  <ion-list>
    <button *ngFor="let category of filteredCategories" ion-item (click)="next(category.categoria)">
      {{category.categoria}}
    </button>
  </ion-list>

</ion-content>