page-senator-list-by-category {

    .top-filter {
        width: 90%;
    }

    .alert-ios .alert-message {
        overflow: hidden;
    }
    
    .alert-ios .alert-radio-group, .alert-ios .alert-checkbox-group {
        overflow-x: hidden;
    }
    
    .block {
        display: inline-block;
    }
    
    .right-initials {
        text-align: right;
        display: inline-block;
        position: absolute;
        right: 1em;
    }
    
    .item-md .item-button.medal {
        width: 15%;
    }

    ion-title {
        padding: 25px 10px 10px !important;
    }
    
    ion-item-sliding.item-wrapper:hover {
        cursor: pointer !important;
        filter: brightness(85%) !important;
    }
    
    .list-ios {
        margin: -1px 0 10px !important;
    }
}
