<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lista de Senadores</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="common-bg">
  <p class="top-filter">
    <ion-card no-margin margin-bottom class="top-card">
      <ion-card-content no-padding>

        <ion-item>
          <ion-label class="text-1x bold">Filtre a categoria</ion-label>
          <ion-select [(ngModel)]="category" (ionChange)="getSenatorByCategory(category.name)">
            <ion-option *ngFor="let category of categoriesList" [value]="category">{{ category.name }}</ion-option>
          </ion-select>
        </ion-item>

      </ion-card-content>
    </ion-card>
    <ion-fab top right color="light">
      <button ion-fab mini (click)="info()">
        <ion-icon name="help"></ion-icon>
      </button>
    </ion-fab>
  </p>

  <ion-list>
    <div>
      <ion-list-header>
        <div class="block">Ranking de Senadores por categoria</div>
        <!-- <div class="right-initials">PE</div> -->
      </ion-list-header>

      <div *ngFor="let senator of listSenatorByCaregory">
        <ion-item-sliding (click)="openDetail(senator)">
          <ion-item>
            <ion-avatar item-start>
              <img [src]="senator.codigoParlamentar?.urlFotoParlamentar">
            </ion-avatar>

            <h2>{{senator.codigoParlamentar?.nomeParlamentar}}</h2>
            <p>{{senator.codigoParlamentar?.formaTratamento}} | {{senator.codigoParlamentar?.siglaPartidoParlamentar}}</p>
            <button class="medal" ion-button clear item-end *ngIf="senator.podium == 1">
              <img src="assets/icon/gold-medal.svg" alt="Primeiro">
            </button>
            <button class="medal" ion-button clear item-end *ngIf="senator.podium == 2">
              <img src="assets/icon/silver-medal.svg" alt="Segundo">
            </button>
            <button class="medal" ion-button clear item-end *ngIf="senator.podium == 3">
              <img src="assets/icon/bronze-medal.svg" alt="Terceiro">
            </button>
          </ion-item>
          teste
        </ion-item-sliding>
      </div>

    </div>
  </ion-list>
</ion-content>