<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Lista de Senadores</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="common-bg"> 
  <ion-card class="full-width" no-margin margin-bottom>
    <ion-card-content no-padding>

      <ion-item>
        <ion-label class="text-1x bold">Selecionar Estado</ion-label>
        <ion-select [(ngModel)]="state" (ionChange)="getSenatorByState(state)">
          <ion-option *ngFor="let state of stateList" [value]="state">{{ state.name }}</ion-option>
        </ion-select>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-list *ngFor="let state of stateListSelecteds">
    <ion-list-header>
      <div class="block">{{ state?.name }}</div>
      <div class="right-initials">{{ state?.initials }}</div>
    </ion-list-header>

    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/img/ionic3-ico.png">
        </ion-avatar>
        <h2>Venkman</h2>
        <p>Back off man, I'm a scientist.</p>
      </ion-item>
    </ion-item-sliding>

   </ion-list>
</ion-content>
