<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lista de Senadores</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="common-bg">
  <ion-card class="full-width" no-margin margin-bottom>
    <ion-card-content no-padding>

      <ion-item>
        <ion-label class="text-1x bold">Selecionar Estado</ion-label>
        <ion-select [(ngModel)]="state" (ionChange)="getSenatorByState(state)">
          <ion-option *ngFor="let state of stateList" [value]="state">{{ state.name }}</ion-option>
        </ion-select>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-list *ngFor="let state of listSenatorByState">
    <div  *ngIf="state?.senators?.length > 0" >
      <ion-list-header>
        <div class="block">{{ state?.name }}</div>
        <div class="right-initials">{{ state?.initials }}</div>
      </ion-list-header>

      <ion-item-sliding>
        <ion-item *ngFor="let senator of state?.senators">
          <ion-avatar item-start>
            <img [src]="senator.identificacaoParlamentar.urlFotoParlamentar">
          </ion-avatar>
          <h2>{{senator.identificacaoParlamentar.nomeParlamentar}}</h2>
          <p>{{senator.identificacaoParlamentar.formaTratamento}} | {{senator.identificacaoParlamentar.siglaPartidoParlamentar}}</p>
        </ion-item>
      </ion-item-sliding>

    </div>
  </ion-list>
</ion-content>