page-senator-list {
      
}

.alert-ios .alert-message {
    overflow: hidden;
}

.alert-ios .alert-radio-group, .alert-ios .alert-checkbox-group {
    overflow-x: hidden;
}

.block {
    display: inline-block;
}

.right-initials {
    text-align: right;
    display: inline-block;
    position: absolute;
    right: 1em;
}

ion-title {
    padding: 25px 10px 10px !important;
}

.list-ios {
    margin: -1px 0 10px !important;
}